{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script type="module" src="{% static 'network/post-filtered-page.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated%}
<div hidden id="user_authenticated">{{ user.id }}</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"></input>
{% endif %}
<div hidden id="filter_url">{{ filter_url }}</div>

<div id="block_posts">
    <h4 id="posts_block_header"></h4>
    <div id="posts_block"></div>
    <div id="posts_pagination_nav"></div>
</div>


{% endblock %}  