{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script type="module" src="{% static 'network/profile.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <div hidden id="user_authenticated">{{ user.id }}</div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"></input>
{% endif %}

<div hidden id="filter_url">profile:{{user_profile.id}}</div>

<div id="profile_block_1">
    <div>
        <h4 id="user_profile_header">{{user_profile.username}}</h4>
    </div>
    <div>
        <strong>{{ posts_count }}</strong>
        <p>posts</p>
    </div>
    <div>
        <strong>{{ followers_count }}</strong>
        <p>followers</p>
    </div>
    <div>
        <strong>{{ follows_count }}</strong>
        <p>following</p>
    </div>
    
    {% if user.is_authenticated %}
        {% if user.username != user_profile.username %}
            <form id="follow_form" method="POST" action="{% url 'follow' %}">
                {% csrf_token %}
                <input id="user_profile_id" hidden value="{{user_profile.id}}">
                <button id="follow_button">{{ button_msg }}</button>
            </form>
        {% endif %}
    {% endif %}

</div>

<hr>

<!-- <div id="profile_block_2"> -->
    <!-- posts per page -->
    <!-- {% for post in page_obj %}   
    <div class="single_post_block">
        <div class="post_text" id="post_text_{{post.id}}">{{post.PostText}}</div>
        <div class="other">
            <div class="likes">Likes: 0</div>
            <div class="timestamp">{{post.Timestamp}}</div>
            {% if user.is_authenticated %}
                {% if user.username == user_profile.username %}
                    <a class="edit_link" href="" data-post-id="{{post.id}}">edit</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %} -->

    <!-- pagination navigation -->
    <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="posts_pagination_nav_block">
                    &laquo; previous
                </a>
            {% endif %}
            
            {% if page_obj.paginator.num_pages > 1 %}
            <span class="posts_pagination_nav_block">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% endif %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="posts_pagination_nav_block">
                    next &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div> -->
<!-- <hr> -->

<!-- loading in via JS of the profile user (visible for all users, incl not authenticated) -->
<div id="block_2_posts">
    <h4 id="posts_block_header"></h4>
    <div id="posts_block"></div>
    <div id="posts_pagination_nav"></div>
</div>

{% endblock %}  