body {
    padding: 10px;
}

#create_listing_form {
    display: flex;
    flex-flow: column;
    width: 50%;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
}
.form_input, .form_button {
    padding: 10px 5px 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.form_input {
    justify-content: space-between;
    align-items: center;
}

.form_input input, select {
    width: 70%;
    height: 30px;
}

.form_input textarea {
    width: 70%;
}

.form_button {
    justify-content:flex-end;
}

.form_button input {
    background-color: white;
}

.listing img {
    width: 300px;
}

.listing_details img {
    width: 300px;
}

.listing h5, #category_status_header h5 {
    color: grey;
}

.price {
    font-weight: bold;
}

.comment_div, #add_comment_form {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-radius: 4px;
    width: 40%
}


#add_comment_form {
    display: flex;
    flex-flow: column;

}

.button, #add_comment_form button, #add_bid_form button, #watchlist_button, #listing_close {
    width: 100px;
    margin: 10px 5px 10px 0px;
    border-radius: 4px;
    outline: none;
    padding: 2px 5px 2px 5px;
}

.button:hover, #add_comment_form button:hover, #add_bid_form button:hover, #watchlist_button:hover, #listing_close:hover {
    background-color: rgb(92, 92, 207);
    color: white;
}

#watchlist_button {
    width: 200px; 
}

.commented_by  {
    font-style: italic;
    font-size: smaller;
    margin: 0px;
}



#add_bid_form {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-radius: 4px;
    width: 60%
}
#add_bid_form input {
    width: 60%;
    min-width: 100px;
}

#listing_info_block {
    display: flex;
    justify-content: flex-start;
}

#listing_info_block_img, #listing_info_block_descr {
    padding: 10px;
}

#category_status_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#category_status_header h5 {
    margin: 0px;
}

.status_active, .status_inactive {
    width: 120px;
    height: 30px;
    border-radius: 40px;
    color:white;
    font-size: smaller;
    margin: 4px 10px 4px 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}   

.status_active p, .status_inactive p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.status_active {
    background-color: green;
}

.status_inactive {
    background-color: grey;
}

