{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{category.name}}</h2>
    <p>There are {{count}} active listing(s) in this category</p>

    {% for listing in listings %}
        <div class="listing">
            <hr>
            <h3><a href="{% url 'listings' listing.id %}">{{listing.title}}</a></h3>
            <p>{{listing.description}}</p>
            <p class="price">Current Price: {{listing.current_price}}$</p>
            <img src="{{listing.pic}}" alt="{{listing.description}}">
        </div>

    {% endfor %}
{% endblock %}