textarea {
    min-height: 400px;
}

.email_block {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px 0 5px 0;
    border-style: solid;
    border-radius: 4px;
}

.email_block:hover {
    border-color: #007bff;
  }

.read {
    background-color: rgb(238, 238, 238);
}

.mail_address {
    font-weight: bold;
}
.timestamp {
    color: grey;
}

/* Full email view */
#email-body {
    white-space: pre-wrap;
}
